[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
numpy = "*"  # Used in production/runtime, if applicable
torch = "*"  # Used in production/runtime, if applicable
tomli = "*"  # Required for dependencies that use TOML

[dev-packages]
pytest = "*"  # Used only for development/testing
pytest-cov = "*"  # Coverage plugin for pytest, useful for CI/CD

[requires]
python_version = "3.10"
